body {
  font-family: 'Merriweather', serif;
}

p {
  margin-bottom: 0;
}

a {
  color: #DE1B1B;
  text-decoration: none;
}

.show-location,
.description-section, 
.number-section,
.footer-section {
  text-align: center;
  padding: 1em 0;
}

#convert {
  margin: 1em 0;
  font-size: 16px;
  color: black;
  border-color: black;
}